<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text to PDF Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <div class="container">
        <h1 class="title">Text to PDF Converter</h1>
        <p class="subtitle">Upload a.txt type file to convert to PDF</p>
        <form method="post" enctype="multipart/form-data" id="uploadForm">
            <label for="file" class="btn">Choose File</label>
            <input type="file" id="file" name="file" accept=".txt" required onchange="fileUploaded()">
            <button type="submit" class="btn">Convert</button>
        </form>
    </div>
    <div id="uploadMessage" class="success-message">File has been successfully uploaded!</div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
